*.dll
*.pdb
*.props
*.cache
*.targets
MarriageGift/MarriageGift/bin/*
MarriageGift/MarriageGift/obj/*
MarriageGift/MarriageGiftTest/bin/*
MarriageGift/MarriageGiftTest/obj/*
MarriageGift/MarriageGiftConsoler/bin/*
MarriageGift/MarriageGiftConsoler/obj/*
MarriageGift/MarriageGiftAPI/bin/*
MarriageGift/MarriageGiftAPI/obj/*
MarriageGift/.vs/*
*.dat
*.csv
*.txt