<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MarriageGiftDB" connectionString="Server=localhost,1433;Database=MarriageGift;User=sa;Password=Linuxmint19*" providerName="System.Data.SqlClient" />
        <add name="MarriageGiftDBWin" connectionString="Server=(localdb)\MSSQLLocalDB;Database=MarriageGift;Integrated Security=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
     
</configuration>
